/* Footer styles */
.footer {
  background-color: #343a40; 
  color: #fff; 
  padding: 50px 0; 
}

.footer h5 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem; 
}

.footer p {
  margin-bottom: 0.5rem;
}

.footer a {
  color: #f8f9fa;
  text-decoration: none;
}

.footer a:hover {
  color: #007bff;
}

.footer .social-icons {
  margin-bottom: 1.5rem;
  display: flex; 
  align-items: center; 
}

.footer .social-icons a {
  margin-right: 10px;
}

.footer .social-icons svg {
  font-size: 2rem; 
}

.footer .social-icons a:last-child{
  margin-right: 0; 
}

/* Header Top styles */
.header-top {
  background-color: #343a40; /* Dark background color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding for spacing */
}

.header-top .logo {
  font-size: 1.5rem; /* Logo font size */
}

.header-top .search-bar input[type="text"] {
  width: 300px; /* Adjust search bar width */
}

.header-top .user-links a {
  color: #fff; /* User links text color */
  text-decoration: none;
  margin-right: 20px; /* Spacing between user links */
}

.btn-login {
  background-color: #343a40;
  border: none;
  color: white;
  margin-right: 5px;
}

.header-top .user-links a:last-child {
  margin-right: 0; /* Remove margin from last user link */
}

/* Navigation Menu styles */
.navbar {
  background-color: aqua;
}

.navbar .navbar-nav .nav-item {
  margin-right: 30px; /* Spacing between navigation items */
}

.navbar .navbar-nav .nav-link {
  color: #010911; /* Navigation link text color */
  text-decoration: none;
  font-weight: 600; /* Navigation link font weight */
}

.navbar .navbar-nav .nav-link:hover {
  color: rgb(24, 37, 221); /* Navigation link hover color */
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 21, 21, 0.5);
  z-index: 1000;
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.modal-header {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.modal-body form {
  display: flex;
  flex-direction: column;
}

.modal-body input {
  margin-bottom: 10px;
}

.mt-3 {
  color: #040fa0;
}

.modal-body button {
  margin-top: 10px;
}

.text-primary:hover {
  cursor: pointer;
}

.text-primary:hover {
  text-decoration: underline;
}

.error {
  color: red;
  margin-bottom: 10px;
}

/* FAQ styles */
.accordion-item {
  margin-bottom: 20px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accordion-button {
  background-color: #f8f9fa;
  color: #212529;
  padding: 15px;
  text-align: left;
  border: none;
  cursor: pointer;
}

.accordion-button.collapsed {
  background-color: #e9ecef;
}

.accordion-body {
  background-color: #fff;
  padding: 15px;
}

/*Contact Us*/
.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin-bottom: 10px;
}

.contact-info li i {
  margin-right: 10px;
}

.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Home.jsx */
.slider-container {
  position: relative;
  width: 100%;
  height: 500px; 
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  opacity: 1;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.product-category {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
  padding: 0 20px;
}

.product-category-item {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

.product-category-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/* Helmet.css */
.helmet-image {
  height: 150px; 
  width: 100%; 
  object-fit: contain;
  margin-bottom: 10px; 
  transition: transform 0.3s ease;
}

.card {
  position: relative;
}


.card:hover .helmet-image {
  transform: scale(1.05); 
}

.card:hover:before {
  content: '';
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.card-body {
  padding: 1.25rem; 
}

.card-price {
  position: absolute; 
  bottom: 20px; 
  left: 50%; 
  font-size: 1.5rem; 
  font: bold;
  color: #0e0a01; 
}

.add-to-cart-icon {
  position: absolute; 
  bottom: 20px; 
  right: 20px;
  color: #030c3f;
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
  font-size: 38px;
  opacity: 0.1;
}

.card:hover .add-to-cart-icon {
  opacity: 1; 
  transform: translateY(-5%); 
}

.add-to-cart-icon:hover {
  transform: scale(1.2);
}

@media (max-width: 991.98px) {
  .helmet-image {
    height: 100px;
  }

  .card-title {
    font-size: 1rem; 
    margin-top: 8px; 
  }

  .card-price {
    font-size: 1rem;
  }

  .add-to-cart-icon {
    font-size: 30px;
  }
}
.btn-sm{
  position: absolute;
}